@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="3;url=Index">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>登陆成功...</title>
</head>
<body>
    @ViewBag.username，你好！欢迎回来。 3 秒后跳转，<a href="Index">如果浏览器没有反应请点击这里。</a>
</body>
</html>
