@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/SolutionStyle.css" />


<img class="ny-banner" src="~/images/banner6.png" style="width:100%" />


<div class="solution">
    <div class="container">
        <ul id="myTab" class="nav nav-tabs nav-justified">
            <li class="active"><a href="#sj-app" data-toggle="tab"> 手机APP</a> </li>
            <li><a href="#fjc" data-toggle="tab">智能管理APP</a></li>
            <li><a href="#smj" data-toggle="tab">智能管理系统平台</a></li>
        </ul>

    </div>
</div>
<div class="container">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="sj-app">
            <br />
            <br />
            <div class="jjfan-title">
                <img class="title-dian" src="~/images/dian.png" />&nbsp;&nbsp;<b>“熊猫ai分分”手机APP</b>

            </div>
            <br />
            <br />
            <p class="text-p">
                当前全国“垃圾围城”形势严峻，垃圾分类回收实施异常困难，国家发展改革委、住房城乡建设部等制定发布了一系列的垃圾分类制度实施方案，重点推进垃圾分类要遵循的减量化、资源化、无害化原则，加速建立分类投放、分类收集、分类运输、分类处理的垃圾处理系统，实现垃圾分类和资源循环利用的综合效益。
            </p>
            <p class="text-p">
                针对这种情况，为城市居民、企事业单位、政府部门、学校等建立“绿色账户”、“环保档案”，通过有效的激励约束机制，完善的垃圾处理收费制度，对正确投递垃圾的用户给予可兑换积分奖励，鼓励用户对“干垃圾”深入分类，将可回收物交由再生资源回收利用企业收运和处置。
            </p>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 phone-text">
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>&lt;预约回收&gt;功能</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>&lt;投放记录&gt;功能</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>&lt;积分提现&gt;功能</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <img src="~/images/image1.png" class="image1" />
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 phone-text">
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>&lt;申请二维码&gt;功能</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>&lt;附近回收箱&gt;功能</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>&lt;事件上报&gt;功能</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row app-down">
                <div class="col-md-7 col-sm-8 col-xs-12">
                    <img src="~/images/down-img.png" />&nbsp;&nbsp;<b>用户下载与关注</b>
                    <p class="text-p">测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                </div>
                <div class="col-md-offset-1 col-md-2 col-sm-2 col-xs-6">
                    <img src="~/images/index/szd-yh.png" class="image2" />
                    <p class="text-center">手机APP下载</p>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <img src="~/images/index/二维码.png" class="image2" />
                    <p>“熊猫ai分分”微信公众号</p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="fjc">
            <br />
            <br />
            <div class="jjfan-title">
                <img class="title-dian" src="~/images/dian.png" />&nbsp;&nbsp;<b>智能管理手机APP</b>
            </div>
            <br />
            <br />
            <p class="text-p">
                当前全国“垃圾围城”形势严峻，垃圾分类回收实施异常困难，国家发展改革委、住房城乡建设部等制定发布了一系列的垃圾分类制度实施方案，重点推进垃圾分类要遵循的减量化、资源化、无害化原则，加速建立分类投放、分类收集、分类运输、分类处理的垃圾处理系统，实现垃圾分类和资源循环利用的综合效益。
            </p>
            <p class="text-p">
                针对这种情况，为城市居民、企事业单位、政府部门、学校等建立“绿色账户”、“环保档案”，通过有效的激励约束机制，完善的垃圾处理收费制度，对正确投递垃圾的用户给予可兑换积分奖励，鼓励用户对“干垃圾”深入分类，将可回收物交由再生资源回收利用企业收运和处置。
            </p>
            <br />
            <br />
            <div class="row">

                <div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-12">
                    <img src="~/images/gl-app.png" class="image1" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 phone-text">
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>预约回收</b>（回收员、现场活动小组、商家、二维码发放员）
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>现场回收</b>（回收员、现场活动小组、商家、二维码发放员）
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>积分消费</b>（分拣员、清运员）
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>分类箱安装</b>（回收员、现场活动小组、商家、二维码发放员）
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>分拣秤安装</b>（设备安装员、设备维修员）
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>设备维修</b>（分拣员、清运员）
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>实时监控</b>（设备安装员、设备维修员）
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="sjAPP-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>统计分析</b>（分拣员、清运员）
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row app-down">

                <img src="~/images/down-img.png" />&nbsp;&nbsp;<b>权限管理</b>
                <p class="text-p">测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>

            </div>
        </div>
        <div class="tab-pane fade" id="smj">
            <br />
            <br />
            <div class="jjfan-title">
                <img src="~/images/dian.png" class="title-dian" />&nbsp;&nbsp;<b>智能管理系统平台</b>
            </div>
            <br />
            <br />
            <p class="text-p">
                当前全国“垃圾围城”形势严峻，垃圾分类回收实施异常困难，国家发展改革委、住房城乡建设部等制定发布了一系列的垃圾分类制度实施方案，重点推进垃圾分类要遵循的减量化、资源化、无害化原则，加速建立分类投放、分类收集、分类运输、分类处理的垃圾处理系统，实现垃圾分类和资源循环利用的综合效益。
            </p>
            <p class="text-p">
                针对这种情况，为城市居民、企事业单位、政府部门、学校等建立“绿色账户”、“环保档案”，通过有效的激励约束机制，完善的垃圾处理收费制度，对正确投递垃圾的用户给予可兑换积分奖励，鼓励用户对“干垃圾”深入分类，将可回收物交由再生资源回收利用企业收运和处置。
            </p>
            <br />
            <br />
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img src="~/images/pt.png" class="image1" />
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pt-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>用户管理</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="pt-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>智能设备管理</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="pt-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>收运管理</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="pt-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>权限管理</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="pt-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>系统管理</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="pt-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>合作卖家管理</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                    <div class="pt-title">
                        <img src="~/images/kuai.png" class="title-kuai" />&nbsp;&nbsp;<b>统计分析</b>
                        <p>测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字测试文字</p>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row pt-down">
                <div class="col-md-7 col-sm-7 col-xs-12 down-text">
                    <p>一键轻松下载，轻松实现</p>
                    <p>随用随调，快速登录</p>
                    <button type="button" class="btn btn-lg down-btn"><img src="~/images/down.png" class="image3" />下载</button>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <img src="~/images/pt-img.png" class="image1" />
                </div>
            </div>
        </div>

    </div>
</div>

