<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/SolutionStyle.css" />
</head>
<body>

    <div class="navbar navbar-fixed-top szd-navbar">
        <div class="top-text">
            <div class="container">
                <span class="top-text1">欢迎光临成都蜀之鼎环保科技有限公司</span>
                <span class="top-text2">加入收藏</span>
            </div>
        </div>

        <nav class="navbar-default container szd-nav" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/home/index"><img src="~/images/szd.png" /></a>
                </div>
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav" style="float:right">
                        <li><a href="~/home/index">首页</a></li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                解决方案 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Solution/phoneAPP">手机APP</a></li>
                                <li><a href="~/Solution/phoneAPP#gl-app">智能管理APP</a></li>
                                <li><a href="~/Solution/phoneAPP#pt">智能管理系统平台</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                产品中心 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Solution/Product">智能回收箱</a></li>
                                <li><a href="#">分拣秤</a></li>
                                <li><a href="#">智能售卖机</a></li>
                                <li><a href="#">其他</a></li>
                            </ul>
                        </li>
                        <li class="active nav-acitve dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                新闻动态 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Solution/News">公司动态</a></li>
                                <li><a href="#">行业资讯</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Solution/about">关于我们</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <img class="ny-banner" src="~/images/banner5.png" style="width:100%" />

    <div class="container">
        @RenderBody()
    </div>
   
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
